@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.action .menu {
  position: absolute;
  top: 141%;
  right: -49%;
  padding: 10px 20px;
  background: #fff;
  width: 200px;
  box-sizing: border-box;
  border-radius: 15px;
  border: black;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px); /* Starts slightly above */
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 10;
}

.action .menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* Ends in place */
}

.action .menu::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: #555;
  line-height: 1.2em;
}

.action .menu h3 span {
  font-size: 14px;
  color: #cecece;
  font-weight: 400;
}

.action .menu ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.action .menu ul li i {
  font-size: 26px;
  width: 32px;
  margin-right: 10px;
  opacity: 0.6;
  transition: opacity 0.5s;
}

.action .menu ul li:hover i {
  opacity: 1;
}

.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: color 0.5s;
}

.action .menu ul li:hover a {
  color: #4834d4;
}
